<!DOCTYPE html>
<html id="app">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/Site.css" />
        <title>Stretch Garage</title>
        <script type="text/javascript" charset="utf-8" src="js/angular.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/angular-route.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/ui-bootstrap-tpls-0.13.0.min.js"></script>
            
        <script type="text/javascript" charset="utf-8" src="js/router.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/garage.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/services.js"></script>        
    </head>
    <body id="controller" ng-controller="AppController">
        <div id="navbar">
            <ul class="bar">
                <li>
                    <button class="btn btn-primary" onclick="history.go(-1)" ng-disabled="isReversible()"><i class="glyphicon glyphicon-chevron-left"></i> Backa</button>
                </li>
                <li ng-if="user">
                    <div class="btn-group dropup" dropdown>
                        <button type="button" class="btn btn-primary">{{user}}</button>
                        <button type="button" class="btn btn-primary dropup-toggle" dropdown-toggle>
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/CreateUnit">Profil</a></li>
                            <li class="divider"></li>
                            <li><a href="" ng-click="parkManually()">Manuell parkering</a></li>
                            <li><a href="" ng-click="unparkManually()" >Manuell avparkering</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        <div class="container box" ng-view>
        </div>
        <div class="footer">
            <p>G. Hedman, J. Takter, N. Frank</p>
            <p>© Stretch Garage</p>
        </div>
        
        <script type="text/javascript" charset="utf-8" src="cordova.js"></script>
        <script>
            document.addEventListener("deviceready", function() {
                var domElement = document.getElementById('app');
                angular.bootstrap(domElement, ['GarageApp']);
            }, false);
        </script>     
    </body>
</html>
