<!DOCTYPE html>
<html id="app">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/Site.css" />
        
        <title>Stretch Garage</title>
        <script type="text/javascript" charset="utf-8" src="js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/jquery-1.10.2.min.map"></script>

        <script type="text/javascript" charset="utf-8" src="js/bootstrap.min.js"></script>

        <script type="text/javascript" charset="utf-8" src="js/angular.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/angular.min.js.map"></script>
        <script type="text/javascript" charset="utf-8" src="js/angular-animate.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/angular-animate.min.js.map"></script>
        <script type="text/javascript" charset="utf-8" src="js/angular-route.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/angular-route.min.js.map"></script>   


        <script type="text/javascript" charset="utf-8" src="js/router.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/garage.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/services.js"></script>        
    </head>
    <body id="controller" ng-controller="AppController">
        <div id="message" ng-click="close('message')" class="alert" ng-show="Messages">
            <ul>
                <li ng-repeat="m in Messages">
                    <div>{{m.Message}}</div>
                </li>
            </ul>
        </div>
        <div class="container">
            <div ng-view></div>
            <div class="footer">
                <p>G. Hedman, J. Takter, N. Frank</p>
                <p>© Stretch Garage</p>
            </div>
        </div>
        {{Time}}
        {{Position}}
        <script type="text/javascript" charset="utf-8" src="cordova.js"></script>
        <script>
            document.addEventListener("deviceready", function() {
                var domElement = document.getElementById('app');
                angular.bootstrap(domElement, ['GarageApp'])
            }, false);
        </script>        
    </body>
</html>
